@import "../../scss/mixins";

.community {
  padding: 0.5rem;
  background: #f0f0f0;
  border-radius: 3rem;
  display: inline-flex;
  align-items: center;
  padding-left: 1.5rem;
  
  transition: color .2s;
  margin-left: 2rem;
  @include breakpoint(large-desktop) {
    display: none;
  }

  @include breakpoint(tablet) {
    margin-left: auto;
    
  }
 

  @include breakpoint(mobile) {
    display: none;
  }
  &:last-child {
      margin-right: 0;
  }

  &:hover {
      color: var(--primary-color);
  }
}

.communityTitle {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 130%;
  margin-right: 1.5rem;
  white-space: nowrap;
}

.communityPersons {
  display: flex;
  align-items: center;
}


.communityPerson {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;

    border: 1px solid #F0F0F0;

    &:not(:first-child) {
        margin-left: -1rem;
    }
}

.communityPersonImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

   
}