@import "../../scss/mixins";

.news {
    margin-bottom: 3rem;
    padding-top: 9rem;

    @include breakpoint(mobile) {
        padding-top: 3rem;
        margin-bottom: 6rem;
        
    }
}

.newsGrid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 34rem;
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
    }
}