@import "../../scss/mixins";

.discussions {
  padding: 2rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.discussionsHedaing {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 3.2rem;

  @include breakpoint(mobile) {
    margin-bottom: 1rem;
  }
}

.discussionsCards {
  display: flex;
  flex-direction: column;
}

.discussionsCard {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 0;
  border-bottom: 1px solid #e5e5e5;

  

  &:last-child {
    border: none;
    padding-bottom: 0;
  }
}

.discussionsIcon {
  width: 1.2rem;
  height: 1.6rem;
  flex-shrink: 0;
  fill: var(--primary-color);
  margin-left: 1rem;
}


.discussionsCardTitle {
  font-size: 1.8rem;
  line-height: 130%;
  margin-bottom: 2rem;
  transition: color .2s;
  font-weight: 400;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
  }

  &:hover {
    color: var(--primary-color);
  }
}